
			<!--Value :{{reactiveForm.value | json}}-->

			<!--Catalogo-->
			<div class="form-group">	
				<mat-form-field appearance="outline" class="full-width">
				<mat-label>Clase</mat-label>
				<select matNativeControl formControlName="catalogClass">
					<option [ngValue]="null" disabled>Seleccione ...</option>   
					<option *ngFor="let cClass of cClasses" [value]="cClass.id">{{cClass.name}}</option>
				</select>
				</mat-form-field>		
				<small class="text-info" *ngIf="reactiveForm.get('catalogClass').hasError('required')">Campo requerido</small>
			</div>

			<!--Sociedad-->
			<div class="form-group">
				<mat-form-field appearance="outline" class="full-width" >
					<mat-label>
						Sociedad
					</mat-label>
					<input  matInput placeholder="Sociedad" formControlName="sociedad" readonly>
				</mat-form-field>
				<small class="text-info" *ngIf="reactiveForm.get('sociedad').hasError('required')">Campo requerido</small>
				<small class="text-danger" *ngIf="reactiveForm.get('sociedad').hasError('minlength')">min of characters</small>
				<small class="text-danger" *ngIf="reactiveForm.get('sociedad').hasError('minlength')">max of 10 characters</small>
			</div>

			<!--Especie-->
			<div class="form-group">	
				<mat-form-field appearance="outline" class="full-width">
				<mat-label>Especie</mat-label>
				<select matNativeControl formControlName="specie" (change)="onChange($event.target.value)">
					<option [ngValue]="null" disabled>Seleccione ...</option>   
					<option *ngFor="let specie of species" [value]="specie.code">{{specie.name}}</option>
				</select>
				</mat-form-field>		
				<small class="text-info" *ngIf="reactiveForm.get('specie').hasError('required')">Campo requerido</small>

				<div *ngIf='obj'>		
				<div *ngFor="let item of obj.attributes; let indexOfelement=index;">
				<div *ngIf='item' class="form-group">
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>
							{{item.name}}
						</mat-label>
						<input matInput placeholder="{{item.name}}" formControlName="atributo_{{indexOfelement}}">
					</mat-form-field>
					<input formControlName="atributo_id_{{indexOfelement}}">
				</div>	
			</div>

			<!--gestion-->
			<div class="form-group">
				<mat-checkbox  [disabled]="true" formControlName="history_check">Gestión histórica</mat-checkbox>
				<small class="text-info" *ngIf="reactiveForm.get('history_check').hasError('required')">Campo requerido</small>
			</div>

			<!--inventario-->
			<div class="form-group">
				<mat-checkbox  [disabled]="true" formControlName="inventory_check">Incluir activo fijo en lista inventario</mat-checkbox>
				<small class="text-info" *ngIf="reactiveForm.get('history_check').hasError('required')">Campo requerido</small>
			</div>
			
			<!---->
			<input matInput formControlName="assetCount" style="display:none">
			<!---->

			<!--serieNumber-->
			<div class="form-group">
				<mat-form-field appearance="outline" class="full-width" >
					<mat-label>
						Número de serie
					</mat-label>
					<input  matInput placeholder="Número de serie" formControlName="serieNumber">
				</mat-form-field>
				<small class="text-info" *ngIf="reactiveForm.get('serieNumber').hasError('required')">Campo requerido</small>
			</div>

			<!--Centro-->
			<div class="form-group">	
				<mat-form-field appearance="outline" class="full-width">
				<mat-label>Centro</mat-label>
				<select matNativeControl formControlName="lCenter">
					<option [ngValue]="null" disabled>Seleccione ...</option>   
					<option *ngFor="let slCenter of slCenters" [value]="slCenter.id">{{slCenter.name}}</option>
				</select>
				</mat-form-field>		
				<small class="text-info" *ngIf="reactiveForm.get('lCenter').hasError('required')">Campo requerido</small>
			</div>

			<!--Edificio-->
			<div class="form-group">	
				<mat-form-field appearance="outline" class="full-width">
				<mat-label>Edificio</mat-label>
				<select matNativeControl formControlName="lBuilding">
					<option [ngValue]="null" disabled>Seleccione ...</option>   
					<!--option *ngFor="let slCenter of slCenters" [value]="lBuilding.id">{{slCenter.name}}</option-->
				</select>
				</mat-form-field>		
				<small class="text-info" *ngIf="reactiveForm.get('lBuilding').hasError('required')">Campo requerido</small>
			</div>

			<!--Piso-->
			<div class="form-group">	
				<mat-form-field appearance="outline" class="full-width">
				<mat-label>Piso</mat-label>
				<select matNativeControl formControlName="lFloor">
					<option [ngValue]="null" disabled>Seleccione ...</option>   
					<!--option *ngFor="let slCenter of slCenters" [value]="lBuilding.id">{{slCenter.name}}</option-->
				</select>
				</mat-form-field>		
				<small class="text-info" *ngIf="reactiveForm.get('lFloor').hasError('required')">Campo requerido</small>
			</div>
			
			<!--lArea-->
			<div class="form-group">	
				<mat-form-field appearance="outline" class="full-width">
				<mat-label>Área</mat-label>
				<select matNativeControl formControlName="lArea">
					<option [ngValue]="null" disabled>Seleccione ...</option>   
					<!--option *ngFor="let slCenter of slCenters" [value]="lBuilding.id">{{slCenter.name}}</option-->
				</select>
				</mat-form-field>		
				<small class="text-info" *ngIf="reactiveForm.get('lArea').hasError('required')">Campo requerido</small>
			</div>
			
			<!--lRoom-->
			<div class="form-group">	
				<mat-form-field appearance="outline" class="full-width">
				<mat-label>Piso</mat-label>
				<select matNativeControl formControlName="lRoom">
					<option [ngValue]="null" disabled>Seleccione ...</option>   
					<!--option *ngFor="let slCenter of slCenters" [value]="lBuilding.id">{{slCenter.name}}</option-->
				</select>
				</mat-form-field>		
				<small class="text-info" *ngIf="reactiveForm.get('lRoom').hasError('required')">Campo requerido</small>
			</div>

			<!--creditorId-->
			<div class="form-group">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>
						Acreedor
					</mat-label>
					<input  matInput placeholder="creditorId" formControlName="creditorId">
				</mat-form-field>
				<small class="text-info" *ngIf="reactiveForm.get('creditorId').hasError('required')">Campo requerido</small>
			</div>
			<!--newAsset-->
			<div class="form-group">
				<mat-checkbox  [disabled]="true" formControlName="newAsset">Nuevo</mat-checkbox>
				<small class="text-info" *ngIf="reactiveForm.get('newAsset').hasError('required')">Campo requerido</small>
			</div>
			<!--assetOrigin-->
			<div class="form-group">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>
						Origen
					</mat-label>
					<input matInput placeholder="Origen" formControlName="assetOrigin">
				</mat-form-field>
				<small class="text-info" *ngIf="reactiveForm.get('assetOrigin').hasError('required')">Campo requerido</small>
			</div>

			<div class="form-group">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>
						Años de vida útil
					</mat-label>
					<input  matInput placeholder="Origen" formControlName="lifetimeYear">
				</mat-form-field>
				<small class="text-info" *ngIf="reactiveForm.get('lifetimeYear').hasError('required')">Campo requerido</small>
			</div>
			<!--assetOrigin-->


